.Wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.Header {
    margin: 1em auto;
    text-align: center;
}

.Author {
    color: #000;
    padding: 1em;
    font-weight: 700;
    font-style: italic;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 0 0 1em 0;
}

.Months {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.Square {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 25px;
    border-radius: 2px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.4);
}

.SquareTitle {
    padding: 15px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0);
}

.SquareButton {
    padding: 15px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0);
}

.SquareButton:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    background: #fff;
    color: #000;
    cursor: pointer;
}