.Wrapper {
    max-width: 80vw;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.Crumb {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    display: inline-block;
}

.Crumb:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
}

.Active {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    pointer-events: none;
}
