.pollen__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  .author {
    color: #000;
    padding: 10px;
    font-weight: 700;
    font-style: italic;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  .month__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    .month__square,
    .month__square__details {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 25px;
      border-radius: 2px;
      margin: 5px;
      background: rgba(0, 0, 0, 0.4);
      span,
      button {
        padding: 15px;
        background: transparent;
        color: #fff;
        font-weight: bold;
        border: 2px solid rgba(255, 255, 255, 0);
      }
      button:hover {
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 2px;
        background: #fff;
        color: #000;
        cursor: pointer;
      }
    }
    .month__square:hover {
      background: rgba(0, 0, 0, 1);
    }
    .month__square__details {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      animation: slowEnter 1.25s ease-in-out;
    }
    .month__pollen__wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      .month__square__pollen {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 5px;
        color: #000;
        margin: 5px;
        border: 3px solid rgba(0, 0, 0, 0.65);
        img {
          width: 85px;
          height: 85px;
          opacity: 0.65;
        }
        img:hover {
          opacity: 1;
          cursor: pointer;
        }
        .fa-tree,
        .fa-seedling {
          font-size: 35px;
        }
      }
      .month__square__pollen:hover {
        border: 3px solid rgba(0, 0, 0, 1);
      }
      .month__square__pollendetails {
        display: flex;
        justify-content: space-around;
        align-items: center;
        animation: slowEnter 1.25s ease-in-out;
        background: rgba(255, 255, 255, 0.55);
        .pollen__details__wrapper {
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          .pollen__details {
            color: #000 !important;
            font-style: italic;
            font-size: 0.75rem;
            overflow: auto;
            text-align: center;
          }
          button {
            padding: 10px;
            background: transparent;
            color: #000;
            font-weight: bold;
            border: 2px solid rgba(255, 255, 255, 0);
            margin: 5px 0;
          }
          button:hover {
            border: 2px solid rgba(255, 255, 255, 1);
            border-radius: 2px;
            background: #fff;
            color: #000;
            cursor: pointer;
          }
          img {
            max-width: 200px;
            transition: all 0.75s;
          }
          .bigger {
            max-width: 300px;
          }
        }
      }
    }
  }
}

@keyframes slowEnter {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
