footer {
    width: 100%;
    font-style: italic;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link {
    color: #fff;
    display: inline-block;
    padding: 0 0.5em;
}

.Link:visited,
.Link:link {
    text-decoration: none;
}

.Github:hover {
    cursor: pointer;
    color: #882d95;
}

.Linkedin:hover {
    color: #0077b5;
}
