.Nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    list-style: none;
    width: 100%;
    max-width: 800px;
}

.MenuItem {
    padding: 0 1rem;
}

.Tooltip {
    font-size: 2rem;
}

.Anchor:visited,
.Anchor:link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.Anchor:visited:hover,
.Anchor:link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.Text {
    text-align: center;
    margin: 0 0 0.5rem 0;
}

.Icon {
    font-size: 3rem;
}

@media all and (max-width: 450px) {
    .Icon {
        font-size: 2.5rem;
    }
}

